.container { 
  width: 10em; 
  height: 10em; 
  margin: 1em;
  text-align: center;
  border: black solid;
}
#post {
  width: 50em;
  top: 0em;
  background-color: lightblue;
}
#comments {
  top: 15em;
  background-color: lightgreen;
}
#history {
  float:left; 
  width: 22em; 
  height: 100%; 
/*  text-align: center; */
  border: black solid;
}
